<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapp">
    <!-- 相机权限-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RequestPermissionActivity"/>
        <activity android:name=".ui.activity.TakePhotoActivity"/>
        <activity android:name=".ui.activity.InternetRequestActivity"/>
        <activity android:name=".ui.activity.ListActivity"/>
        <activity android:name=".ui.activity.ListSwipeActivity"/>
        <activity android:name=".ui.activity.DialogActivity"/>
        <activity android:name=".ui.activity.DrawerActivity"/>
        <activity android:name=".ui.activity.MainActivity"/>
        <activity android:name=".ui.activity.BottomNavigationActivity"/>
        <activity android:name=".ui.activity.MyNavigationActivity"/>
        <activity android:name=".ui.activity.DatePcikerActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>